<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, intitial-scale=1.0">
    <title>Login to Work Portal</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='LoginStylesheet.css') }}">
</head>

<body style="background-image: url({{ url_for('static', filename='asdf.jpg') }});">
    <div class="login-page">
        <div class="form">
            <form action="/login" method="post">
                <input type="text" name="username" id="username" placeholder="Username" required/>
                <br>
                <br> 
                <input type="password" name="password" id="password" placeholder="Password" required/>
                <br>
                <br>
                <input type="submit" class="button" value="Log In"/>
            </form>
        </div>
    </div>




</body>



</html>
